
<% @users.each do |user| %>
  <li>
    <%= gravatar_for user,size: 50 %>
    <%= link_to user.name,user_path(user) %>
    <% if current_user.admin? && !current_user?(user) #!currnt_user?(user)はadminに削除リンクを見せない為の処理、each文でadminの部分だけリンクは出ない%>
    | <%= link_to "delete",user_path(user),method: :delete,data: {confirm: "you sure?"} %>
    <% end %>
  </li>
<% end %>