<% provide(:title, "edit" )%>

<h1>Updating your profile</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@user) do |f| %>
    <%= render "shared/error_messages"%>
    
    <%= f.label :name%>
    <%= f.text_field :name, class: "form-control"%>
    
    <%= f.label :email%>
    <%= f.text_field :email, class: "form-control"%>
    
    <%= f.label :password%>
    <%= f.password_field :password, class: "form-control"%>
    
    <%= f.label :password_confirmation%>
    <%= f.text_field :password_confirmation, class: "form-control"%>
    
    <%= f.submit "Updating your profile", class: "btn btn-primary"%>
    
    <% end %>
     <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>