<% provide(:title, "Sign up") %>

<h1>Sign up</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <%= form_for(@user,url: signup_path) do |f| %>
  <%=render "shared/error_messages"%>
  
  <%= f.label :name %>
  <%= f.text_field :name,class: "form-control"  %>
  
  <%= f.label :email %>
  <%= f.text_field :email,class: "form-control" %>
  
  <%= f.label :password %>
  <%= f.password_field :password,class: "form-control"  %>
  
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation,class: "form-control"  %>
  
  <%= f.submit "Create account",class: "btn btn-primary form-control"%>
  
  <% end %>
  
  </div>
</div>
