<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%=render "layouts/rails_default"%>
    <%=render "layouts/shim"%>
  </head>
  <body>
    <%=render "layouts/header"%>
    <div class="container">
      <% flash.each do |key, msg| %>
        <%= content_tag(:div, msg ,class: "alert alert-#{key}")%>
      <% end %>
      
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= debug(params)if Rails.env.development? %>
    </div>
  </body>
</html>